<div class="breadcrumb">
    Current Path: <span>{{ echo htmlspecialchars($path);}}</span>
</div>

<div class="file-list">
    <div class="directory">
        <a href="?path={{ echo urlencode($parentPath); }}">[DIR] ..</a>
    </div>

    @foreach($directories as $directory)
    <div class="directory">
        <a href="?path={{ echo urlencode($path . '/' . $directory); }}">[DIR] {{ echo htmlspecialchars($directory);
            }}</a>
    </div>
    @endforeach

    @foreach($files as $file)
    <div class="file">
        <a href="WebTech/admin/file/preview?path={{ echo urlencode($path . '/' . $file); }}">
            {{ echo htmlspecialchars($file); }}
        </a>
    </div>
    @endforeach
</div>